QQ_MAIL_ADDRESS=yourname@qq.com
QQ_MAIL_AUTH_CODE=your_qq_mail_client_authorization_code
CONNECTOR_TOKEN=replace_with_a_long_random_secret
QQ_MAIL_ALLOW_SEND=false
CONNECTOR_HOST=127.0.0.1
CONNECTOR_PORT=8787
